
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Art is Eternal Happiness
    link(media="all" rel="stylesheet" href="css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet")
