include variables
include mixins

section.info.common-section
    .container
        .row
            .col-md-4.mb-4
                +headingWithoutParagraph('about us')
                .text-center.mb-4
                    p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Ut aliquam massa nisl quis neque. Suspendisse in orci enim.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.
                +social(aboutUsSocialLinks)
            .col-md-4.mb-4.text-center
                    +headingWithoutParagraph('recent post')
                    +createPost(posts)
            .col-md-4
                +headingWithoutParagraph('contact us')
                .row
                    .col-lg-offset-2.col-12.col-lg-8
                        ul.contacts.text-center
                            li
                                adress 10044 West 23th Street, Suite 721 New York NY 10010
                            li
                                span Email:
                                    a(href="mailto:Username@email.com")  Username@email.com
                            li
                                span Phone:
                                    a(href="tel:+101234567890") +1 (0) 123 4567 890
                            li
                                span Fax:
                                    a(href="#")  +1 (0) 321 4567 890
                form.contact-form(action="#")
                    input.form-control(type='text' placeholder="Your Name..." name="name")

                    input.form-control(type='email' placeholder="Your Email..." name="email")

                    textarea.form-control(placeholder="Your Message..." rows="6" name="message")
                    button.btn.btn-success.text-uppercase(type="submit") send