
section.intro.overlay
    .intro-content
        .title-holder.text-center
            h1 Art is Eternal Happiness
        .text-center
            a.btn.btn-primary.btn-lg.text-uppercase(href="") Work with us
    include ../modules/anchor-link
