include variables
include mixins

section.our-client.common-section
    .container
        +heading("our happy client", "Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.")
        +Logos(clientLogos)
    .container.text-center
        a.btn.btn-gray.btn-arrow(href="#") See all client
            span.icon-arrow-right