include variables
    include mixins

section.seen-on
    +headingWithoutParagraph('as seen on')
    .container
        .row
            .col-lg-2.text-center.mb-4
                a(href='#')
                    img(src="img/CNN.png" alt='CNN')
            .col-lg-2.text-center.mb-4
                a(href='#')
                    img(src="img/TC.png" alt='TC')
            .col-lg-3.text-center.mb-4
                a(href='#')
                    img(src="img/BBC.png" alt='BBC')
            .col-lg-5.text-center
                a(href='#')
                    img(src="img/NYT.png" alt='The New York times')
