include variables
include mixins

section.we-do.common-section(id="weDo")
    .container
        +heading("what we do", "Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.")
        +card(forCards)