header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  .nav{

    .nav-item{

      @media (min-width:970px){

        a{

          &:hover{
            background-color: transparent;
          }

          &:focus{
            background-color: transparent;
            outline: none;
          }
        }
      }
    }

    .nav-item.active{
      font-weight: bold;

      @media (min-width:970px){

        a{
          background-color: transparent;

          &:hover{
            background-color: transparent;
          }
        }
      }
    }
  }

  .nav-item{
    border-bottom: 2px solid $black;

    &.active{

      @media (min-width:970px){
        position: relative;


          &:before{
            position: absolute;
            content: '';
            top: 0;
            border-top: 6px solid $brand-primary;
            left: calc(#{$grid-gutter-width} / 2);
            right: calc(#{$grid-gutter-width} / 2);
          }
        }
    }

    @media (min-width:970px){
      border-bottom: transparent;

    }
  }
}

.navbar-collapse{
  background-color: rgba($brand-primary, .4);
  text-align: center;

  @media (min-width: 970px){
    background-color: transparent;
  }
}

.navbar{
  margin: 0 -15px;

  @media (min-width: 970px){
    margin: 0;
  }
}

.nav{
  margin: 0;
}

.search-form{
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;

  input{
    border-radius: 20px;
    background-color: rgba($white, .7);
    padding: 5px 30px 5px 15px;
    position: relative;
    color: $black;
    z-index: 5;

    &:focus{
      background-color: rgba($white, .9);
      box-shadow: none;
    }


    &:after{
      position: absolute;
      content: "\e907";
      font-family: 'icomoon';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }
  }

  .search-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: transparent;
    border: none;
    z-index: 55;
    transform: translateY(-50%);
    padding: 0;

    &:focus{
      outline: none;
    }
  }

  span{
    font-size: 20px;
    vertical-align: middle;
    color: $text-color;
  }

  @media(min-width: 970px){
    margin-right: 0;
    padding: 8px 0 0;
  }
}

.logo{
  position: relative;
  float: left;
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 8px;


  @media (min-width:970px){
    position: absolute;
    left: 54%;
    top: 20%;
    margin: 0;
  }
}
